---
import Window from "./Window.astro";
---

<Window windowDataAttr="about_me" title="About Me" windowIcon="Info (gray).ICO">
  <div style="margin:10px 0px">hello internet, I am Anmol. I am a Full-Stack Developer.</div>
  <div>
    Remeber fellow internet user:-

    <blockquote>
      <b>
        Anywhere can be paradise as long as you have the will to live.
        <br />
        After all, you are alive, so you will always have the chance to be happy.
        <br />
        As long as the Sun, the Moon, and the Earth exist, everything will be all right.
        <p><em> -Yui Ikari, Neon Genesis Evangelion</em></p>
      </b>
    </blockquote>
  </div>
  <div id="instructions">Click on the Start Menu for Education, Projects and Contact Info.</div>
</Window>
