---
import Window from "./Window.astro";
---

<style>
  a,
  a:visited {
    color: blue;
  }
  #footer {
    position: absolute;
    bottom: 5px;
    font-size: small;
    font-weight: 100;
    font-style: italic;
  }
</style>

<Window windowDataAttr="about_me" title="About Me" windowIcon="Info (gray).ICO">
  <div>
    Hello, internet! I'm Anmol. I'm a <b>Software Engineer</b>.
    <p>I like building — and sometimes breaking — software.</p>
    <p>
      Lately, I’ve been exploring Computer Graphics, playing around with WebGL
      and
      <a href="https://www.shadertoy.com/user/anmol">Shaders</a>.
    </p>
    <p>These days, most of my typing ends up as TypeScript.</p>
  </div>

  <div>
    Some things I enjoy:

    <ul>
      <li>Computer science</li>
      <li>
        Taking
        <a href="https://www.instagram.com/anmol_dot_ninja/">
          pictures/videos</a
        >
      </li>
      <li>
        Listening to <a
          href="https://open.spotify.com/user/6sgvw84ghr0r9oegtq48dszqu"
        >
          music
        </a>
      </li>
    </ul>
  </div>

  <div>
    A line that stuck:
    <blockquote>
      <b>
        Ten decisions shape your life
        <br />
        You'll be aware of five about
      </b>
    </blockquote>
  </div>
  <div id="footer">
    <div>Click on Start Menu for more</div>
    <div><a href="/simple">simple-version</a></div>
  </div>
</Window>
