---
import Window from "./Window.astro";
---

<style>
  #contact-me-window {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  a,
  a:visited {
    color: #0000ee;
    margin-right: 8px;
  }
</style>

<Window
  windowDataAttr="contact_me"
  title="Contact Me"
  windowIcon="Phone (2 of 5 diodes on).ico"
>
  <div id="contact-me-window">
    <div>
      Thank you for visiting my website !<br />
      If you have any questions, comments, or would like to get in touch, <br />
      please feel free to contact me. <br />
    </div>
    <br />
    <div>
      <a target="_blank" href="mailto:anmolgupta520@gmail.com">email</a>
      <a target="_blank" href="https://github.com/ish-u">github</a>
      <a target="_blank" href="https://www.linkedin.com/in/anmolgupta0/"
        >linkedin</a
      >
      <a target="_blank" href="https://leetcode.com/ish-u/">leetcode</a>
      <a
        target="_blank"
        href="https://open.spotify.com/user/6sgvw84ghr0r9oegtq48dszqu"
        >spotify</a
      >
      <a target="_blank" href="https://www.twitch.tv/an60221023">twitch</a>
      <a target="_blank" href="https://twitter.com/anmol_dot_ninja">twitter</a>
      <a
        target="_blank"
        href="https://www.youtube.com/channel/UCM5LZDjDd2icCkiyvhoqBGg"
        >youtube</a
      >
      <a target="_blank" href="https://www.instagram.com/anmol_dot_ninja"
        >instagram</a
      >
      <a target="_blank" href="https://ish-u.github.io/">old website</a>
    </div>
    <br />
    <div style="display: flex; justify-content: center;">
      <img
        src="https://c.tenor.com/4KP456_GUqQAAAAC/infinate-forever.gif"
        height="192"
        width="192"
        alt="Infinte Animation"
      />
    </div>
  </div>
</Window>
