---
import Window from "./Window.astro";
---

<style>
  a,
  a:visited {
    color: blue;
  }
  #footer {
    position: absolute;
    bottom: 5px;
    font-size: small;
    font-weight: 100;
    font-style: italic;
  }
</style>

<Window windowDataAttr="shaders" title="Shaders" windowIcon="Beizer.ico">
  <div><em>Shaders</em></div>
</Window>
