---
import Window from "./Window.astro";
---

<style>
  #shader-editor-textarea {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    box-shadow: inset 2px 2px 2px black;
    padding: 5px;
  }
  #shader-editor-app-bar {
    background-color: #b5b3b3;
    display: flex;
  }
  #shader-editor-app-bar div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2.5px;
    font-size: small;
  }
</style>

<script>
  import { updateShader } from "../../scripts/initShadersCanvas";

  const editor = document.getElementById(
    "shader-editor-textarea"
  ) as HTMLTextAreaElement;
  if (editor) {
    editor.textContent = (window as any)?.currentFragmentShaderSource;
  }

  const saveButton = document.getElementById("shader-editor-save-button");
  if (saveButton && editor) {
    saveButton.addEventListener("click", (e) => {
      e.stopPropagation();
      (window as any).currentFragmentShaderSource = editor.value;
      updateShader();
    });
  }
</script>

<Window
  windowDataAttr="shader-editor"
  title="Shader Editor"
  windowIcon="Notepad writing.ico"
  hideInStart={true}
  noPadding
>
  <div id="shader-editor-app-bar" slot="app-bar">
    <div id="shader-editor-save-button"><u>S</u>ave</div>
  </div>
  <textarea id="shader-editor-textarea" autofocus></textarea>
</Window>
