@font-face {
  font-family: "MS";
  src: url("/fonts/MS_Sans_Serif_8pt.ttf") format("truetype");
}

html,
body {
  font-family: MS;
  background-color: #008080;
  overflow: hidden;
  margin: 0px;
  padding: 0;
}

.desktop {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.window-area {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}
