---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <p>hello internet, I am Anmol. I am a <b> Full-Stack Developer</b></p>

  <p>I like :</p>
  <ul>
    <li>Computer Science</li>
    <li>
      creating
      <a href="https://github.com/ish-u"> software</a>
    </li>
    <li>
      taking
      <a href="https://www.instagram.com/user_no_01/"> pictures/videos</a>
    </li>
    <li>listening to music</li>
    <li>Internet</li>
  </ul>

  <div>
    Links:
    <a href="mailto:anmolgupta520@gmail.com">email</a>
    <a href="https://github.com/ish-u">github</a>
    <a href="https://www.linkedin.com/in/anmolgupta0/">linkedin</a>
    <a href="https://leetcode.com/ish-u/">leetcode</a>
    <a href="https://open.spotify.com/user/6sgvw84ghr0r9oegtq48dszqu">spotify</a
    >
    <a href="https://www.twitch.tv/an60221023">twitch</a>
    <a href="https://twitter.com/UserNo0001">twitter</a>
    <a href="https://www.youtube.com/channel/UCM5LZDjDd2icCkiyvhoqBGg"
      >youtube</a
    >
    <a href="https://www.instagram.com/user_no_01/">instagram</a>
    <a href="https://ish-u.github.io/">old website</a>
  </div>
  <p>
    <a href="/">fancy-website</a>
  </p>
</Layout>
