---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div>
    Hello, internet! I'm Anmol. I'm a <b>Software Engineer</b>.
    <p>I like building — and sometimes breaking — software.</p>
    <p>
      Lately, I’ve been exploring Computer Graphics, playing around with WebGL
      and
      <a href="https://www.shadertoy.com/user/anmol">Shaders</a>.
    </p>
    <p>These days, most of my typing ends up as TypeScript.</p>
  </div>

  <div>
    Some things I enjoy:

    <ul>
      <li>Computer science</li>
      <li>
        Taking
        <a href="https://www.instagram.com/anmol_dot_ninja/">
          pictures/videos</a
        >
      </li>
      <li>
        Listening to <a
          href="https://open.spotify.com/user/6sgvw84ghr0r9oegtq48dszqu"
        >
          music
        </a>
      </li>
    </ul>
  </div>

  <div>
    A line that stuck:
    <blockquote>
      <b>
        Ten decisions shape your life
        <br />
        You'll be aware of five about
      </b>
    </blockquote>
  </div>

  <div>
    Links:
    <a href="mailto:anmolgupta520@gmail.com">email</a>
    <a href="https://github.com/ish-u">github</a>
    <a href="https://www.linkedin.com/in/anmolgupta0/">linkedin</a>
    <a href="https://leetcode.com/ish-u/">leetcode</a>
    <a href="https://open.spotify.com/user/6sgvw84ghr0r9oegtq48dszqu">spotify</a
    >
    <a href="https://www.twitch.tv/an60221023">twitch</a>
    <a href="https://twitter.com/anmol_dot_ninja">twitter</a>
    <a href="https://www.youtube.com/channel/UCM5LZDjDd2icCkiyvhoqBGg"
      >youtube</a
    >
    <a href="https://www.instagram.com/anmol_dot_ninja/">instagram</a>
  </div>
  <p>
    <a href="/">fancy-website</a>
  </p>
</Layout>
