---
import SpotifyStatus from "./SpotifyStatus.astro";
---

<style>
  #shortcuts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin-left: 5px;
  }
  .shortcut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
  }
  #shortcuts a {
    text-decoration: none;
    color: white;
  }
  #shortcuts img {
    height: 32px;
    width: 32px;
  }
  .shortcut span {
    font-size: small;
    margin-top: 10px;
  }
</style>

<script>
  import { windowEventHandler } from "../scripts/windowEventHandler";
  const shaderShortcut = document.getElementById("shader-shortcut") ?? "";
  if (shaderShortcut) {
    shaderShortcut.addEventListener("click", () =>
      windowEventHandler("shaders", "SHOW")
    );
  }
</script>

<div id="shortcuts">
  <a href="https://github.com/ish-u" target="_blank">
    <div class="shortcut">
      <img src="/images/Book Disc.ico" alt="Link to github - ish_u" />
      <span>GitHub</span>
    </div>
  </a>
  <a href="https://www.instagram.com/anmol_dot_ninja/" target="_blank">
    <div class="shortcut">
      <img
        src="/images/Painting.ico"
        alt="Link to instagram - anmol_dot_ninja"
      />
      <span>Instagram</span>
    </div>
  </a>
  <div class="shortcut" id="shader-shortcut">
    <img src="/images/Beizer.ico" alt="Open shaders window" />
    <span>Shaders</span>
  </div>
  <SpotifyStatus />
</div>
