---
---

<style>
  #social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin-left: 5px;
    z-index: -100000000000;
  }
  .social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
  }
  #social a {
    text-decoration: none;
    color: white;
  }
  #social img {
    height: 36px;
    width: 36px;
  }
  .social-link span {
    font-size: small;
    margin-top: 10px;
  }
</style>

<script is:inline>
  // Fetch Now Playing Song on Spotify
  const fetchSongDetails = async () => {
    // Song Name
    const song = await (await fetch("https://spotify-readme.ishu2.repl.co/nowPlaying/plainText")).json();
    const title = song.name;
    const artists = song.artists.join(", ");
    const songNameEle = document.getElementById("song-name");
    if (songNameEle) {
      songNameEle.innerHTML = title + " - " + artists;
    }
    // Song Image
    const songImageEle = document.getElementById("song-image");
    if (songImageEle) {
      songImageEle.src = "https://spotify-readme.ishu2.repl.co/nowPlaying/image?t=" + new Date().getMilliseconds();
    }
  };
  // Initial Fetch on Website Load
  fetchSongDetails();
  // Fetching Song Detials every 10 seconds
  setInterval(async () => {
    await fetchSongDetails();
  }, 10000);
</script>

<div id="social">
  <a href="https://github.com/ish-u" target="_blank">
    <div class="social-link">
      <img src="/images/Book Disc.ico" alt="Link to github - ish_u" />
      <span>GitHub</span>
    </div>
  </a>
  <a href="https://www.instagram.com/user_no_01/" target="_blank">
    <div class="social-link">
      <img src="/images/Painting.ico" alt="Link to instagram - user_no_01" />
      <span>Instagram</span>
    </div>
  </a>
  <a href="https://spotify-readme.ishu2.repl.co/nowPlaying/url">
    <div class="social-link">
      <img id="song-image" src="/images/Music Disc 2.ico" alt="" />
      <span>
        <marquee id="song-name" width="50" height="20" behavior="scroll" direction="left" scrollamount="2"> Nothing</marquee>
      </span>
    </div>
  </a>
</div>
