---
import SpotifyStatus from "./SpotifyStatus.astro";
---

<style>
  #social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin-left: 5px;
    z-index: -100000000000;
  }
  .social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
  }
  #social a {
    text-decoration: none;
    color: white;
  }
  #social img {
    height: 32px;
    width: 32px;
  }
  .social-link span {
    font-size: small;
    margin-top: 10px;
  }
</style>

<div id="social">
  <a href="https://github.com/ish-u" target="_blank">
    <div class="social-link">
      <img src="/images/Book Disc.ico" alt="Link to github - ish_u" />
      <span>GitHub</span>
    </div>
  </a>
  <a href="https://www.instagram.com/user_no_01/" target="_blank">
    <div class="social-link">
      <img src="/images/Painting.ico" alt="Link to instagram - user_no_01" />
      <span>Instagram</span>
    </div>
  </a>
  <SpotifyStatus />
</div>
