---
import StartMenu from "./StartMenu.astro";
const currentTime = new Date().toLocaleTimeString().toString();
---

<style>
  #taskbar {
    display: flex;
    align-items: center;
    align-content: center;
    left: 0;
    bottom: 0;
    z-index: 10000000;
    background-color: #b5b3b3;
    width: 100%;
    padding-bottom: 2px;
    border-top: white solid 1px;
  }

  #start-button {
    width: 5rem;
  }

  #clock {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    width: 6rem;
    padding: 5px;
    margin: 5px;
    box-shadow: inset 2px 2px black, 1px 1px 2px white;
  }
  .taskbar-button {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px 10px;
    margin: 2.5px 3px;
    min-width: 10vw;
    box-shadow: 2px 2px black, inset 1px 1px white;
  }

  .taskbar-button img {
    height: 22px;
    width: 22px;
    margin-right: 5px;
  }
</style>

<script is:inline>
  setInterval(() => {
    const clock = document.getElementById("clock");
    clock.innerHTML = new Date().toLocaleTimeString().toString();
  }, 1000);
</script>

<script>
  const toggleStartMenu = () => {
    const startmenu = document.getElementById("start-menu");
    if (startmenu) {
      if (startmenu.style.display === "block") {
        startmenu.style.display = "none";
      } else {
        startmenu.style.display = "block";
      }
    }
  };
  const startButton = document.getElementById("start-button");
  if (startButton) {
    startButton.addEventListener("click", () => toggleStartMenu());
  }
</script>

<div id="taskbar">
  <img
    id="start-button"
    src="https://i.pinimg.com/originals/0b/32/fb/0b32fb0f7b144ec745d4e3b5f3f783fa.png"
    alt="Start Button"
  />
  <StartMenu />
  <div id="clock">{currentTime}</div>
</div>
