---
import LoadingScreen from "../components/LoadingScreen.astro";
import ShortCuts from "../components/ShortCuts.astro";
import StartMenu from "../components/StartMenu.astro";
import TaskBar from "../components/TaskBar.astro";
import AboutMe from "../components/Windows/AboutMe.astro";
import ContactMe from "../components/Windows/ContactMe.astro";
import Experience from "../components/Windows/Experience.astro";
import Paint from "../components/Windows/Paint.astro";
import Projects from "../components/Windows/Projects.astro";
---

<div class="desktop">
  <AboutMe />
  <Experience />
  <Projects />
  <Paint />
  <ContactMe />
  <ShortCuts />
  <StartMenu />
  <TaskBar />
  <LoadingScreen />
</div>
