---
import LoadingScreen from "../components/LoadingScreen.astro";
import ShortCuts from "../components/ShortCuts.astro";
import TaskBar from "../components/TaskBar.astro";
import AboutMe from "../components/Windows/AboutMe.astro";
import ContactMe from "../components/Windows/ContactMe.astro";
import Experience from "../components/Windows/Experience.astro";
import Paint from "../components/Windows/Paint.astro";
import Projects from "../components/Windows/Projects.astro";
import ShaderEditor from "../components/Windows/ShaderEditor.astro";
import Shaders from "../components/Windows/Shaders.astro";
---

<div class="desktop">
  <div class="window-area">
    <AboutMe />
    <Experience />
    <Projects />
    <Shaders />
    <Paint />
    <ContactMe />
    <ShortCuts />
    <ShaderEditor />
  </div>
  <TaskBar />
  <LoadingScreen />
</div>
