---
import LoadingScreen from "../components/LoadingScreen.astro";
import ShortCuts from "../components/ShortCuts.astro";
import StartMenu from "../components/StartMenu.astro";
import TaskBar from "../components/TaskBar.astro";
---

<script></script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="personal website" />
    <meta name="generator" content={Astro.generator} />
    <title>anmol</title>
  </head>
  <body>
    <slot />
    <ShortCuts />
    <StartMenu />
    <TaskBar />
    <LoadingScreen />
  </body>
</html>
